# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environments
# =========================
.venv/
venv/
.env

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Docker / Volumes
# =========================
volumes/
.volumes/

# =========================
# Airflow (if used)
# =========================
airflow.db
airflow.cfg
airflow-webserver.pid
airflow_settings.yaml

# =========================
# Spark
# =========================
checkpoints/
.sparkStaging/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Git itself (❌ remove this if you had it)
# =========================
.git