.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
__pycache__/
*.pyc

.venv/
venv/

.volumes/
volumes/

.sparkStaging/
checkpoints/

*.log

.idea/
.vscode/

.env